table {
	thead {
		tr {
			th {
				.searchTable {
					border: none;
					margin-bottom: -5px;
					width: calc(100% - 35px);
					display: inline-block;
					&:focus {
						border: 1px solid #ccc;
					}
				}
				.table-sortable {
					display: inline-block;
					padding: 5px;
					width: 30px;
				}


				.floating-form {
					width: 100%;
					min-width: 150px;
				}

				.floating-label {
					position: relative;
					margin-top: 20px;
				}

				.floating-input,
				.floating-select {
					font-size: 14px;
					padding: 4px 4px;
					display: block;
					width: 100%;
					height: 30px;
					background-color: transparent;
					border: none;
					//border-bottom: 1px solid #757575;
				}

				.floating-input:focus,
				.floating-select:focus {
					outline: none;
					border-bottom: 2px solid #5264AE;
				}

				label {
					color: #999;
					font-size: 14px;
					font-weight: normal;
					position: absolute;
					pointer-events: none;
					left: 5px;
					top: 5px;
					transition: 0.2s ease all;
					-moz-transition: 0.2s ease all;
					-webkit-transition: 0.2s ease all;
				}

				.floating-input:focus~label,
				.floating-input:not(:placeholder-shown)~label {
					top: -18px;
					font-size: 14px;
					color: #5264AE;
				}

				.floating-select:focus~label,
				.floating-select:not([value=""]):valid~label {
					top: -18px;
					font-size: 14px;
					color: #5264AE;
				}


				/* active state */

				.floating-input:focus~.bar:before,
				.floating-input:focus~.bar:after,
				.floating-select:focus~.bar:before,
				.floating-select:focus~.bar:after {
					width: 50%;
				}

				*,
				*:before,
				*:after {
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
				}

				.floating-textarea {
					min-height: 30px;
					max-height: 260px;
					overflow: hidden;
					overflow-x: hidden;
				}


				/* highlighter */

				.highlight {
					position: absolute;
					height: 50%;
					width: 100%;
					top: 15%;
					left: 0;
					pointer-events: none;
					opacity: 0.5;
				}


				/* active state */

				.floating-input:focus~.highlight,
				.floating-select:focus~.highlight {
					-webkit-animation: inputHighlighter 0.3s ease;
					-moz-animation: inputHighlighter 0.3s ease;
					animation: inputHighlighter 0.3s ease;
				}


				/* animation */

				@-webkit-keyframes inputHighlighter {
					from {
						background: #5264AE;
					}
					to {
						width: 0;
						background: transparent;
					}
				}

				@-moz-keyframes inputHighlighter {
					from {
						background: #5264AE;
					}
					to {
						width: 0;
						background: transparent;
					}
				}

				@keyframes inputHighlighter {
					from {
						background: #5264AE;
					}
					to {
						width: 0;
						background: transparent;
					}
				}

			}
		}
	}
}


